{
  # Mastering effects
  :Mastering => [
    # Useful to remove starting beats
    { :Name => 'CutFirstSignal' },
    # Normalization
    { :Name => 'Normalize' },
    # Volume correction, either in ratio (ie. '4/5') or in db (ie. -2db)
    { :Name => 'VolCorrection', :Factor => '-2db' },
    # Compression
    { :Name => 'Compressor' }
  ]
}
